<!DOCTYPE html>
<html>
<head>
    <title>Bogobit</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
</head>
<body>
    <h1>Change {{name}}</h1>
    {{#if error}}
        <p class="error-message">{{error}}</p>
    {{/if}}
    <!-- Input field to change profile setting -->
    <form method="POST" action="./change-{{id}}">
        {{#if auth}}
            <p>
                <label for="auth_password">Password:</label><br>
                <input type="password" name="auth_password" required>
            </p>
        {{/if}}
        <p>
            <label for="{{id}}">Old {{name}}:</label><br>
            {{#if hide}}
                <input type="password" name="old_{{id}}" required>
            {{else}}
                <input type="text" name="old_{{id}}" required>
            {{/if}}
        </p>
        <p>
            <label for="{{id}}">New {{name}}:</label><br>
            {{#if hide}}
                <input type="password" name="new_{{id}}" required>
            {{else}}
                <input type="text" name="new_{{id}}" required>
            {{/if}}
        </p>
        <p>
            <button class="themed-button" type="submit">Login</button>
            <a href="/profile">Cancel</a>
        </p>
    </form>
</body>
</html>

