<!DOCTYPE html>
<html>
<head>
    <title>Bogobit</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
</head>
<body data-total-comments="{{page.totalComments}}" data-current-page="{{data.currentPage}}">
    <h1>Comments</h1>
    {{> navbar}}

    <p id="comment-info"></p>
    <!-- Display all comments in an unordered list -->
    <ul class="comment-list">
        {{#each comments}}
            <li id="comment-entry" data-comment-id="{{id}}">
                <p>
                    <strong id="comment-author" style="color: #{{name_color}}">{{display_name}}</strong>
                    <div class="list-indent">
                        {{text}}<br>
                        <em class="comment-date">Posted on: {{created_at}}</em><br>
                        <!-- Voting -->
                        <form class="comment-votes" action="/comment/vote" method="POST">
                            <button class="themed-button" data-vote="1" style="{{#if (eq user_vote 1)}}color: #1f1f29; background: #ffffff;{{/if}}" type="submit">▲</button>
                            <button class="themed-button" data-vote="-1" style="{{#if (eq user_vote -1)}}color: #1f1f29; background: #ffffff;{{/if}}" type="submit">▼</button>
                            <span class="comment-date">&nbsp;Points:&nbsp;{{points}}</span>
                        </form>
                    </div>
                </p>
            </li>
        {{/each}}
    </ul>

    <!-- If user is logged in, add comment form, else send to login -->
    {{#if user.isLoggedIn}}
        <form class="themed-form" id="add-comment" action="/comment/new" method="GET">
            <button class="themed-button" type="submit">Add Comment</button>
        </form>
    {{else}}
        <form class="themed-form" id="add-comment" action="/login" method="GET">
            <button class="themed-button" type="submit">Add Comment</button>
        </form>
    {{/if}}
    <br>
    <span class="pagination-container">
        <!-- Previous page -->
        {{#if page.prevPage}}
            <form action="/comments" method="GET">
                <input type="hidden" name="page" value="{{page.prevPage}}">
                <button class="themed-button" type="submit">&lt;</button>
            </form>
        {{/if}}

        <!-- Current Page -->
        <form action="/comments" method="GET">
            <input type="hidden" name="page" value="{{page.currentPage}}">
            <button class="current-page-button" type="submit">{{page.currentPage}}</button>
        </form>

        <!-- Display next five pages as quick buttons -->
        {{#if page.index}}
            {{#each page.index}}
                <form action="/comments" method="GET">
                    <input type="hidden" name="page" value="{{this}}">
                    <button class="page-button" type="submit">{{this}}</button>
                </form>
            {{/each}}
        {{/if}}
        
        <!-- Last Page -->
        {{#if page.lastPage}}
            ...
            <form action="/comments" method="GET">
                <input type="hidden" name="page" value="{{page.lastPage}}">
                <button class="page-button" type="submit">{{page.lastPage}}</button>
            </form>
        {{/if}}

        <!-- Next page -->
        {{#if page.nextPage}}
            <form action="/comments" method="GET">
                <input type="hidden" name="page" value="{{page.nextPage}}">
                <button class="themed-button" type="submit">&gt;</button>
            </form>
        {{/if}}
        &nbsp;&nbsp;&nbsp;
        <!-- Manual page number -->
        <form action="/comments" method="GET">
            <input type="number" id="manual-page" name="page" min="1" step="1" required>
            <button class="themed-button" type="submit">Go</button>
        </form>
    </span>

    {{> footer}}
    <script>
        const PAGE_SIZE = 20;
        const totalComments = parseInt(document.body.dataset.totalComments, 10) || 0;
        const currentPage = parseInt(document.body.dataset.currentPage, 10) || 1;

        const lowerCommentBound = (currentPage - 1) * PAGE_SIZE;
        let upperCommentBound = currentPage * PAGE_SIZE - 1;
        if (upperCommentBound >= totalComments) upperCommentBound = totalComments - 1;

        const commentInfo = document.getElementById("comment-info");
        commentInfo.textContent = `Comments: ${lowerCommentBound}-${upperCommentBound} of ${totalComments}`;
    </script>
</body>
</html>


