<!DOCTYPE html>
<html>
<head>
    <title>Bogobit</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
</head>
<body>
    <h1>Comments</h1>
    {{> navbar}}

    <p>Total Comments: {{page.totalComments}}</p>
    <!-- Display all comments in an unordered list -->
    <ul>
        {{#each comments}}
            <li>
                <p>
                    <strong id="comment-author" style="color: #{{name_color}}">{{display_name}}</strong>
                    <div class="list-indent">
                        {{text}}<br>
                        <em class="comment-date">Posted on: {{created_at}}</em><br>
                    </div>
                </p>
            </li>
        {{/each}}
    </ul>

    <!-- If user is logged in, add comment form, else send to login -->
    {{#if user.isLoggedIn}}
        <form class="themed-form" action="/comment/new" method="GET">
            <button class="themed-button" type="submit">Add Comment</button>
        </form>
    {{else}}
        <form class="themed-form" action="/login" method="GET">
            <button class="themed-button" type="submit">Add Comment</button>
        </form>
    {{/if}}

    <span>
        <!-- Previous page -->
        {{#if page.prevPage}}
            <form action="/comments" method="GET">
                <input type="hidden" name="page" value="{{page.prevPage}}">
                <button class="themed-button" type="submit">&lt;</button>
            </form>
        {{/if}}

        <!-- Display next five pages as quick buttons -->
        {{#if page.index}}
            {{#each page.index}}
                <form action="/comments" method="GET">
                    <input type="hidden" name="page" value="{{this}}">
                    <button class="themed-button" type="submit">{{this}}</button>
                </form>
            {{/each}}
        {{/if}}

        <!-- Last Page -->
        <form action="/comments" method="GET">
            <input type="hidden" name="page" value="{{page.lastPage}}">
            <button class="themed-button" type="submit">{{page.lastPage}}</button>
        </form>

        <!-- Next page -->
        {{#if page.nextPage}}
            <form action="/comments" method="GET">
                <input type="hidden" name="page" value="{{page.nextPage}}">
                <button class="themed-button" type="submit">&gt;</button>
            </form>
        {{/if}}

        <!-- Manual page number -->
        <form action="/comments" method="GET">
            <input type="number" name="page" min="1" step="1" required>
            <button class="themed-button" type="submit">Go</button>
        </form>
    </span>

    {{> footer}}
</body>
</html>


